[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="*"
flask_prometheus="*"
prometheus_client="*"
prometheus_flask_exporter="*"
requests="*"
requests_mock="*"

[dev-packages]

[requires]
python_version = "3.6"
